#contents div.header {
	background: url(01.jpg) no-repeat left top;
	width: 733px;
	margin-bottom: 18px;
	padding-top: 17px;
}
.body {
	background: url(../images/bg-content.png) repeat-y left top;
	padding: 13px 30px;
}
.body h2 {
	color: #fa8f0d;
	display: inline-block;
	font: 25px/25px 'NobileBoldItalic';
	margin: 0;
	text-shadow: 1px 1px #fff9eb;
}
.body p {
	color: #aea588;
	font: bold italic 13px/24px 'Nobile';
	margin: 0;
	padding-bottom: 24px;
	text-shadow: 1px 1px #fff9eb;
}
.body p a {
	color: #aea588;
}
.body p a:hover {
	color: #f9900c;
}
.footer {
	background: url(../images/bg-content-bottom.png) no-repeat left bottom;
	padding-bottom: 17px;
}